button {
    color: #ffffff;
    padding: 16px 40px;
    width: 128px;
    height: 48px;
    left: 830px;
    top: 338px;
    background: #e4c1ae;
    border-radius: 32px;
    border: none;
}

button:hover {
    cursor: pointer;
}