@media(max-width: 1000px) {
	
	#bgContent {
		width: 100%;
        height: auto;
        flex-direction: column-reverse;
        margin:auto;
	}

    img{
        margin:10% auto !important;
    }

    #content{
        margin:50px auto !important;
        display: flex;
        flex-direction: column;
        align-items: center;
       p, h1 {
           text-align: center;
       }
    }
}

@media(max-width: 540px) {
img {
    width:100% !important;
    height:auto !important;
}
}