@import "variables";
@import "mixins";
@import "button";
@import "alert";
@import "media";

* {
    box-sizing: border-box;
}

body {
    color: $main-font-color;
    font-family: $main-font-family;
    background-color: #e5e5e5;

    .container {
        max-width: 1440px;
        max-height: 960px;
        display: flex;
        justify-content: center;

        .bgContent {
            display: flex;
            justify-content: space-between;
        }

        .content {
            h1 {
                @include big;
            }

            p {
                @include small;
            }
        }
    }
}

.content {
    margin-left: 95px;
}

.bgContent {
    width: 980px;
    margin-top: 96px;
}

img {
    width: 505px;
    height: 330px;
}
