@import "variables";
@import "mixins";
@import "button";
@import "text";
@import "alert";
body {
    color: $main-font-color;
    font-family: $main-font-family;
    background-color: #e5e5e5;

    #container {
        max-width: 1440px;
        max-height: 960px;
        display: flex;
        justify-content: center;

        img {
            width: 505px;
            height: 330px;
            left: 230px;
            top: 96px;
        }

        #content {
            margin-left: 95px;
            width: 380px;
            height: 250px;
            left: 830px;
            top: 136px;
        }
    }
}
